:root {
    --white: #FFFFFF;
    --black: #000000;
    --soft-violet: #8257E5;
    --very-dark-blue: #29292E;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    font-size: 62.5%;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white);
}

.main-container {
    background: url("../img/primary-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;  
    padding: 0 4rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.menu {
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30%);
}

#btn-menu-mobile {
    display: none;
}

.logo {
    max-width: 4.4rem;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}


.menu ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
} 

.menu li{
    padding: 2rem;
}

.menu a {
    position: relative;
}

#menu-content li:nth-child(6) {
    padding-left: 8rem;
}

.btn-my-coffee:hover {
    transition: all .2s ease-in-out;
    border: solid .1rem var(--white);  
    color: var(--soft-violet);  
}

.btn-my-coffee {
    border: solid .1rem var(--soft-violet);
    border-radius: .6rem;
    padding: 1.3rem 2.2rem;
    color: var(--white);
}

.text-mobile {
    display: none;
}

.text-info {
    display: flex;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 2.8rem;
}

.text-info h2 {
    font-size: 8rem;
    color: var(--white);
}

.text-info p {
    font-size: 8rem;
    color: transparent;
    -webkit-text-stroke: .2rem var(--soft-violet);
}

.img-coffee {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    max-width: 67rem;
}

.img-coffee img {
    width: 100%;
    height: auto;
}

@media (max-width: 950px) {
    .menu {
        width: 100%;
    }
    #menu-content {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 2rem;
        width: 100%;
        height: calc(100vh - 2rem);
        left: 0;
        padding-left: rem;
        z-index: 10;
        background: var(--black);
        
    }

    #menu-content li {
        border-top: .1rem var(--very-dark-blue) solid;
    }
    
    #menu-content li:nth-child(6) {
        padding-top: 4rem;
        padding-left: 2rem;
    }

    #menu-content a {
        padding-left: 2rem;
    }

    #btn-menu-mobile{
        display: flex;
        background: none;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }

    #nav.active #menu-content {
        display: block;
        margin-top: 8rem;
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 550px) {
    .main-container{
        gap: 5rem;
        background: url("../img/mobile-bg.svg");
    }


    .text-mobile {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        max-width: 40rem;
        justify-content: center;
    }

    .text-mobile h1 {
        font-size: 3rem;
        color: var(--white);
        text-align: center;
    }

    .text-info h2,
    .text-info p {
        font-size: 5rem;
    }
}